<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="TestAppender" type="Ms.Azure.Logging.Appenders.TableStorageAppender, Ms.Azure.Logging">
    <AccountName value="ietestnb" />
    <AccessKey value="lTj/Bia0EvgfdoDBMbxaFECNJzlMeb8Ib8rwHj90tYCXjsTki1jl+adSexlz1cuMeS/ASRAWcm7co82W/ws4dA==" />
    <TableName value="TestTable" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="TestAppender" />
  </root>

</log4net>
